//$primary: #FF9300;
//$primary: #a679ff;
$primary: #a679ff;
$secondary: #F2F5F9;
$danger: #F25151;
$success: #2BDD72;
$warning: #B2B2B2;
$dark: #272D33;
$btn-border-radius-lg: 0.25rem;
$body-color: #272D33;
$info: #006CFF;

//$form-invalid-border-color: #ffdb00;
//$form-invalid-color: #ffdb00;

$form-invalid-border-color: #F25151;
$form-invalid-color: #ff7979;

$success-border-subtle: #00ff68;
$success-bg-subtle: rgba(0, 255, 96, 0.25);
$success-text-emphasis: #e0ffec;

$danger-border-subtle: #f00;
$danger-bg-subtle: #ff00003d;
$danger-text-emphasis: #fdd3d3;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

.btn-primary {
  color: white;
}
.btn-primary:focus {
  color: white;
}
.btn-primary:hover {
  color: white;
}
.btn-primary:disabled {
  color: white;
}

.btn-outline-primary:focus {
  color: white;
}
.btn-outline-primary:hover {
  color: white;
}

.btn-danger {
  color: white;
}
.btn-danger:focus {
  color: white;
}
.btn-danger:hover {
  color: white;
}
.btn-danger:disabled {
  color: white;
}

.btn-success {
  color: white;
}
.btn-success:focus {
  color: white;
}
.btn-success:hover {
  color: white;
}
.btn-success:disabled {
  color: white;
}

.btn {
  padding-left: 32px;
  padding-right: 32px;
}

//.alert-danger {
//  color: #fff;
//  background: #F25151;
//  border: #F25151
//}

.alert-info {
  color: #fff;
  background: $primary;
  background: $primary;
  border-color: $primary;
}

//.alert-success {
//  color: #fff;
//  background: #28c563;
//  border: #28c563;
//}

.grayed-out {
  color: #B2B2B2;
}

a {
  color: #006CFF;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collapsed .hide-on-collapse {
  display: none !important;
}

.hopa-table thead {
  background: #{$secondary};
}

.hopa-table thead, tbody, tfoot, tr, td, th {
  border-color: #{$secondary};
  height: 41px;
}

.hopa-table th, td {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.my-n1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
}


.text-overflow-ellipsis {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tab-bg {
  background: rgba(255,255,255,0.2);
}

.background-gradient {
  background: rgb(20,241,149);
  background: linear-gradient(126deg, rgba(20,241,149,1) 0%, rgba(153,69,255,1) 50%, rgba(255,153,0,1) 100%);
}

.card {
  color: #fff;
}

.tab-accent {
  @extend .card;
  @extend .p-2;
  @extend .border-0;
  @extend .bg-black;
  @extend .bg-opacity-10;
}

.tab-accent-p3 {
  @extend .card;
  @extend .p-3;
  @extend .border-0;
  @extend .bg-black;
  @extend .bg-opacity-10;
  @extend .text-start;
}

.form-control {
  background: rgba(0,0,0,0.1);
  color: #fff;
}

.form-control:focus {
  background: rgba(0,0,0,0.1);
  color: #fff;
}

.form-control::placeholder {
  color: rgba(255,255,255,0.6);
}

.form-control:disabled {
  background: rgb(255 255 255 / 20%);
}

.input-group-text {
  @extend .bg-transparent;
}

.round-right {
  border-top-right-radius: var(--bs-btn-border-radius) !important;
  border-bottom-right-radius: var(--bs-btn-border-radius) !important;
}

.bg-transparent {
  background: rgba(0,0,0,0)
}

.alert strong {
  display: block;
}